@model IEnumerable<PermissionViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControllerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowInMenu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControllerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowInMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @Html.ActionLink("Detailsss", "Details", new { id= item.EncryptedId , title=item.Title.Replace(" " , "-")})|
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
